@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Space Grotesk', sans-serif, Inter, system-ui, Avenir, Helvetica;
  line-height: 1.2;
  font-weight: 400;
  font-size: 12px;

  color: var(--artape-black);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --progress-width: 0;
  --buffer-width: 0;
}

body {
  margin: 0;
  --artape-white: #ffffff;
  background-color: var(--artape-white);
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 14px;
  margin: 0;
}

p {
  margin: 0;
  font-size: 10px;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  opacity: 90%;
}

input {
  font-size: 12px;
  color: var(--artape-black);
  width: 100%;
  overflow: hidden;
  font-family: 'Space Grotesk', sans-serif, Inter, system-ui, Avenir, Helvetica;
}

input:focus,
input:focus-visible {
  outline: transparent;
}

.progress-bar::-webkit-slider-thumb {
  z-index: 4;
  position: relative;
}

.progress-bar::before {
  transform: scaleX(var(--progress-width));
  z-index: 3;
}

.progress-bar::after {
  transform: scaleX(var(--buffer-width));
  transform-origin: left;
  z-index: 2;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 24px;
  }
}

@media (max-width: 1000px) {
  button {
    padding: 1em 20px;
  }
}
