#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  --artape-white: rgba(255, 255, 255, 0.87);
  --artape-lime-green: #3bff67;
  --artape-black: #242424;
  --artape-black: #242424;
}

.profile-name {
  margin-top: 0px;
}
.artape-link {
  margin-bottom: 0px;
}

.music-player-container {
  border: 1px solid var(--artape-white);
  border-radius: 8px;
  width: 100%;
}

.music-player-header {
  color: var(--artape-black);
  border: 1px solid var(--artape-white);
  border-radius: 8px;

  background: var(--artape-lime-green);
  padding: 0.6em 1.2em;
}

.music-player-track {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--artape-white);
  justify-content: space-between;
  width: 100%;
}

.music-player-left-side {
  margin-right: 20em;
  text-align: left;
}

.artist-title-track {
  margin-bottom: 20px;
}

.music-player-right-side {
  margin: auto;
  text-align: right;
}
