.main {
  display: flex;
  --artape-primary-color: #ff9500;
  --artape-black: #242424;
  --artape-black-light: #24242490;
}

.fullContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
}

.fullWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  width: 100%;
  align-items: center;
}

.scrollableContainer {
  flex: 1 1 0%;
  height: 100%;
  padding: 0px 0px 24px 0px;
  width: 100%;
}

.profileName {
  margin-top: 0px;
}
.artapeLink {
  margin-bottom: 0px;
}
.amountTotalDuration {
  font-size: large;
  color: var(--artape-white);
}

.musicPlayerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--artape-white);
  padding: 10px 0px 10px 0px;
  border-top: #d1d1d1 1px solid;
  z-index: 999;
  border-radius: 10px 10px 0px 0px;
}

.trackContainer {
  display: none;
}

.musicPlayerArtwork {
  background: var(--artape-primary-color);
}

.songName {
  font-size: 18px;
}

.artistName {
  font-size: 12px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  user-select: 'none';
  touch-action: 'none';
  height: 5px;
  width: 100%;
  background-color: #e5e6eb;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--artape-primary-color);
  height: 10px;
  width: 5px;
}

.musicPlayerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-grow: 0;
  padding-left: 20px;
  width: 182px;
}

.musicPlayerMiddle {
  display: flex;
  flex-direction: column;
  color: var(--artape-black);
  padding: 0.6em 1.2em;
  object-fit: contain;
  flex-grow: 0.5;
}

.musicPlayerRight {
  display: flex;
  flex-direction: row;
  text-align: left;
  flex-grow: 0;
  padding-right: 20px;
  align-items: center;
  gap: 10px;
}

.musicControls {
  display: flex;
  justify-content: center;
}
.musicPlayerTrack {
  display: flex;
  flex-direction: row;
  border-radius: 0;
  border-bottom: 1px solid var(--artape-primary-color);
  background-color: var(--artape-white);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.progressTime {
  font-size: 10px;
}

.progressBarWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.artistTitleTrack {
  margin-bottom: 20px;
}

.songArt {
  width: 75px;
  height: 75px;
  background-color: var(--artape-primary-color);
  margin-right: 20px;
}

.profilePicture {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border: 1px solid var(--artape-primary-color);
}

.gridProfile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0px 20px 0px 20px;
}

.songDetailTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.aboveGrid {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profileModule {
  position: relative;
  background: (var(--artape-black));
  text-align: center;

  transition: all 200ms ease-in-out;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.firstProfileModule {
  position: relative;
  background: (var(--artape-black));
  text-align: center;

  transition: all 200ms ease-in-out;
  overflow: hidden;
  border-radius: 10px;
}

.mintButton {
  font-size: 10px;
  border: 1px solid var(--artape-black);
  padding: 2px 10px 2px 10px;
  border-radius: 4px;
}

.moduleStats {
  position: absolute;
  bottom: 0;
  display: flex;
  background: var(--artape-white);
  width: 100%;
  z-index: 5;
}

.moduleStatsInner {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 10px 20px 10px;
  justify-content: space-between;
}

.moduleStatsRight {
  display: flex;
  gap: 24px;
}

.moduleStatsLeft {
  display: flex;
  gap: 8px;
  align-items: center;
}

.mint {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.plays {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.moduleStats span {
  font-size: 10px;
}

.profileModuleDetail {
  position: relative;
  background: (var(--artape-black));
  text-align: center;

  transition: all 200ms ease-in-out;
  overflow: hidden;
  aspect-ratio: 1/1;
  width: 500px;
}

.firstProfileModule:hover {
  opacity: 90%;
  cursor: pointer;
}

.firstProfileModule:hover .embla {
  transform: scale(110%);
}

.profileModule:hover {
  opacity: 90%;
  cursor: pointer;
}

.profileModule:hover .embla {
  transform: scale(110%);
}

.profileModuleRectangle:hover video {
  transform: scale(110%);
}

.profileModuleDetail:hover {
  opacity: 90%;
  cursor: pointer;
}

.profileModuleRectangle:hover {
  opacity: 90%;
  cursor: pointer;
}

.profileModuleRectangle {
  aspect-ratio: 2 / 1;
  grid-column: span 2;
  position: relative;
  text-align: center;

  transition: all 200ms ease-in-out;

  will-change: transform;

  overflow: hidden;
  border-radius: 10px;
}

.profileModuleRectangle video {
  transition: transform 350ms;
  will-change: transform;
}

.placeholder {
  position: relative;
  font-size: 32px;
}

.submitButton {
  position: fixed;
  background-color: var(--artape-primary-color);
  bottom: 0px; /* Adjust this value to change the distance from the bottom of the screen */
  left: 50%; /* Set the left position to the middle */
  transform: translateX(
    -50%
  ); /* Shift the button half of its width to the left */
  width: 100%;
  z-index: 150; /* Ensures the button stays above other elements */
  border-radius: 0;
  height: 50px;
  border-top: 1px solid var(--artape-white);
}

.switch {
  display: flex;
  text-align: left;
  width: 250px;
}

.radioButton {
  cursor: pointer;
  width: 50px;
  margin: 0;
}

.error {
  color: red;
  font-size: 16px;
}

.tapeDescription {
  font-size: 20px;
  font-weight: 'lighter';
  color: #656565;
}

.tapeType {
  font-size: 28px;
  font-weight: lighter;
}

.objectFit {
  object-fit: cover;
}

.artistHeaderRight {
  display: none;
}

.infoIcon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
}

.embla {
  overflow: hidden;
  transition: transform 350ms;
  will-change: transform;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.firstProfileModule:hover .infoIcon {
  display: flex;
}

.profileModule:hover .infoIcon {
  display: flex;
}

.profileModuleRectangle:hover .infoIcon {
  display: flex;
}

.liveCircle {
  transform: translateX(0%) translateY(-0%);
  width: 8px;
  height: 8px;
}
.liveCircle:before {
  content: '';
  position: relative;
  display: block;
  width: 300%;
  height: 300%;
  box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 45px;
  background-color: var(--artape-primary-color);
  -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1)
    infinite;
  animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.liveCircle:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--artape-primary-color);
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  -webkit-animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s
    infinite;
  animation: pulse-dot 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@-webkit-keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@media (max-width: 1100px) {
  .tapeDescription {
    font-size: 12px;
  }
  .tapeType {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  .objectFit {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 550px) {
  /* .artistHeaderRight {
    display: none;
  } */
  .profilePicture {
    height: 75px;
    width: 75px;
  }
  .profilePicture img {
    height: 75px;
    width: 75px;
  }
}
