.main {
  max-width: 1280px;
  --artape-white: rgba(255, 255, 255, 0.87);
  --artape-primary-color: #d6e1db;
  --artape-black: #242424;
  padding-top: 128px;
  padding-bottom: 128px;
}

.profileName {
  margin-top: 0px;
}
.artapeLink {
  margin-bottom: 0px;
}

.musicPlayerHeader {
  color: var(--artape-black);
  background-color: var(--artape-primary-color);
  border-bottom: 1px solid var(--artape-black);
  padding: 0.6em 1.2em;
  object-fit: contain;
}

.musicPlayerTrack {
  display: flex;
  flex-direction: row;
  border-radius: 0;
  border-bottom: 1px solid var(--artape-black);
  background-color: var(--artape-primary-color);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.musicPlayerLeftSide {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.artistTitleTrack {
  margin-bottom: 20px;
}

.songArt {
  width: 75px;
  height: 75px;
  background-color: var(--artape-primary-color);
  margin-right: 20px;
}

.profilePicture {
  width: 100px;
  height: 100px;
  background-color: var(--artape-primary-color);
  margin-right: 20px;
}

.gridProfile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.aboveGrid {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mementoForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.memento {
  width: 100px;
}

.profileColorForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profileModule {
  position: relative;
  object-position: center;
  object-fit: contain;
  width: 350px;
  height: 350px;
  border-radius: 37px;
  text-align: center;
  color: var(--artape-black);
  border: 1px solid var(--artape-primary-color);
  transition: all 100ms ease-in-out;
  overflow: hidden;
}

.profileModule:hover {
  opacity: 80%;
  border-color: var(--artape-white);
}

.profileModuleRectangle {
  grid-column: span 2; /* Add this line to span two columns */
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 350px;
  border-radius: 37px;
  text-align: center;
  color: var(--artape-black);
  border: 1px solid var(--artape-primary-color);
  transition: all 100ms ease-in-out;
  overflow: hidden;
}

.profileModuleRectangle:hover {
  opacity: 80%;
  border-color: var(--artape-white);
}

.placeholder {
  position: relative;
  font-size: 32px;
}

.switch {
  display: flex;
  width: 250px;
}
