.loaderMain {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.inverted {
  filter: invert(100%);
}

.normal {
  filter: none;
}

.progressContainer {
  color: var(--artape-white);
}

.progressBar {
  width: 400px;
  height: 30px;
  border-radius: 10px;
  background-color: #e6e6e6;
  margin-bottom: 10px;
}

.progressBarFill {
  height: 100%;
  border-radius: 10px;
  background-color: var(--artape-primary-color);
  transition: width 0.5s ease-out;
}

.progressLabel {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: var(--artape-primary-color);
}
